.navbar-main-wrapper{
    height: 9vh;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    position: fixed;
    z-index: 9;
    background-color: white;
}

.nav-links{
    min-width: 40%;
}

.nav{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
}

.btn{
    width: 100px;
    height: 40px;
    margin-left: 10px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.hamburger-menu{
    display: none;
}

.hmenu-links{
    position: absolute;
    top:0;
    left: 10vw;
    background-color: white;
    width: 100%;
    height: 100vh;
    display: none;
}

.close{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 5vh 2vw;
    align-items: flex-end;
}

.hnav-links{
    list-style: none;
    padding-left: 6vw;
}

.hnav-links li{
    margin-bottom: 1.5rem;
}



@media only screen and (max-width: 700px){
    .hamburger-menu{
        display: block;
        cursor: pointer;
    }

    .close{
        cursor: pointer;
    }

    .nav-links{
        display: none;
    }

    .hmenu-links{
        display: block;
    }

    
}